body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -40px; /*change from -10 to -40px*/
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/*changed background color to pink for last three div elements. Changed name to element2 in index.html file*/
.element2 {
    background-color: pink;
    height: 100px;
    margin: 10px 0;
    width: 100%;
}
